<!-- need to duplicate and change css styling for #bm for menu -->

<section id="menu" style ="font-family:{{ site.fonts.links }};" >
  <!-- This is an example of what would be output by js/menu.js:
  <ul>
    <li class="title" onclick="dropdownToggle(this)">tech</li>
    <li class="link"><a href="#">r/web_design</a></li>
    <li class="link"><a href="#">r/unixporn</a></li>
    <li class="link"><a href="#">r/battlestations</a></li>
    <li class="link"><a href="#">stackoverflow</a></li>
  </ul>
  <ul>
    <li class="title" onclick="dropdownToggle(this)">anime</li>
    <li class="link"><a href="#">/a/</a></li>
    <li class="link"><a href="#">aldnoah.zero</a></li>
    <li class="link"><a href="#">tokyo esp</a></li>
    <li class="link"><a href="#">akame ga kill</a></li>
  </ul>
  <div class="clear"></div>
  -->

    <ul>
      <!-- Gotta fix this: now we are clicking to the emptiness next to the icon -->
      <li class = "title" onclick="dropdownToggle(this)" title ='links to other links'><i class="fa fa-bars" aria-hidden="true"></i></li>
      <!-- <li class = "title" onclick="dropdownToggle(this)" title = "link to another world"> menu</li> -->
      {% for link in site.data.nav %}
        <li class="link"><a href="{{ link.url | prepend: site.baseurl }}"> {{ link.name }}</a></li>
      {% endfor %}
    </ul>
  <div class = "clear"></div>
</section>
