<section id="bm" style ="font-family:{{ site.fonts.links }};" >
  <!-- This is an example of what would be output by js/menu.js:
  <ul>
    <li class="title" onclick="dropdownToggle(this)">tech</li>
    <li class="link"><a href="#">r/web_design</a></li>
    <li class="link"><a href="#">r/unixporn</a></li>
    <li class="link"><a href="#">r/battlestations</a></li>
    <li class="link"><a href="#">stackoverflow</a></li>
  </ul>
  <ul>
    <li class="title" onclick="dropdownToggle(this)">anime</li>
    <li class="link"><a href="#">/a/</a></li>
    <li class="link"><a href="#">aldnoah.zero</a></li>
    <li class="link"><a href="#">tokyo esp</a></li>
    <li class="link"><a href="#">akame ga kill</a></li>
  </ul>
  <div class="clear"></div>
  -->
  {% for category in page.categories %}
    <ul>
      <li class = "title" onclick="dropdownToggle(this)"> {{ category.name }}</li>
      {% for link in category.links %}
        <li class="link"><a href="{{ link.url }}"> {{ link.name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
  <div class = "clear"></div>
</section>
