<form id="search" method="get">
  <ul class="engine">
<!-- Example Engines that get read in from js/settings.js --
    <li class="first"><p id="curreng"><a href="http://google.com/search" id="q">google</a></p>
      <ul class="sub">
        <li class="sel"><a href="http://www.google.com/images" id="q">google-img</a></li>
        <li class="sel"><a href="http://soundcloud.com/search" id="q">soundcloud</a></li>
        <li class="sel"><a href="http://youtube.com/results" id="search_query">youtube</a></li>
        <li class="sel"><a href="http://vimeo.com/search" id="q">vimeo</a></li>
      </ul>
    </li>
-->
  </ul>
  <span>|</span>
  <ul class="type">
<!-- Example Links Toggle Icon that gets created by js/custom.js --
    <li class="first" id="linksrc"><p id="currtype"><a href="#">M</a></p>
      <ul class ="sub">
        <li class="sel"><a href="#">D</a></li>
      </ul>
    </li>
-->
    <li class="first" id="linksrc"><p id="currtype">M</p></li>
  </ul>
  <input type="text" id="query" autocomplete="on"/>

  <div class="clear"></div>
</form>
