<!DOCTYPE html>
<html>
    {% include head.html %}

    {% assign bg_url = site.background.url %}
    {% if page.background %}
      {% assign bg_url = page.background %}
    {% endif %}
    {% if site.background.daily %}
      {% assign bg_url = bg_url | append: '/daily' %}
    {% endif %}

    <body style="background-image:url('{{ bg_url }}'); background-repeat: no-repeat; background-size: cover; font-family: {{ site.fonts.body }}">
      <div id="wrapper">
        {% include header.html %}

        {% if site.menu_list.show %}
          {% include _menu.html %}
        {% endif %}
        
        {% include _links.html %}

        {% include _search.html %}

      </div>
    </body>
</html>
